.todo-body {
  height: 380px;
  padding: 10px 0;
  overflow-y: scroll;
}

.todo-body::-webkit-scrollbar{
	display:none
}

.todo-body .todo-item {
  margin-bottom: 10px;
}

.todo-body .todo-item:last-child {
  margin-bottom: 0;
}