.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .3) 0px 3px 8px;
}

.todo-title {
  height: 40px;
  line-height: 40px;
  font-size: 32px;
}